     </main><!-- .content -->
  </div><!-- .nav-content-wrap -->

</div><!-- page-wrap -->

<footer><small><a href="http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/">&copy; Sticky Footer</a> &middot; 2014</small></footer>

