<div class="page-wrap" id="pageWrap">
  <div class="nav-content-wrap" id="navContentWrap">
    <nav class="nav" id="nav">
   <!--   http://www.prototype-generator.com/templating-in-pg/template-helpers.html http://stackoverflow.com/questions/25878099/assemble-handlebars-sort-order -->
      <ul>{{#withSort pages 'data.sortOrder'}}<li><a href="{{autolink}}" {{isActive}}>{{data.title}}</a></li>{{/withSort}}</ul></nav>
    <main class="content" id="content">

