<!doctype html>
<html class="no-js core no-flexbox">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    {{#if description}}<meta name="description" content="{{description}}"/>{{/if}}

    <link href="{{#is type "page" }}../{{/is}}static/prefixed/style.min.css" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <link rel="author" href="https://plus.google.com/+BramdeHaan/posts">
</head>
<script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js '; if ( 'querySelector' in document && 'addEventListener' in window && Array.prototype.forEach ) { document.documentElement.className = document.documentElement.className.replace(/\bcore\b/g, '') + ' enhanced '; } var s = document.body || document.documentElement, s = s.style; if( s.webkitFlexWrap == '' || s.msFlexWrap == '' || s.flexWrap == '' ) { document.documentElement.className = document.documentElement.className.replace(/\bno-flexbox\b/g, '') + ' flexbox '; }
</script>
<body>
{{> body }}

 <script src="{{#is type "page" }}../{{/is}}static/main.min.js" async></script>
</body>
</html>
